div#container {
	width: 100%;
	background-color: white;
}

div.content {
	width: 80%;
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-left: auto;
	margin-right: auto;
	background-color: #F7F7F7;
	border: 1px solid #EDEDEC;
	/* padding: 25px; */
	font-family: nunito-sans,sans-serif;
}

div.content h1 {
	font-size: 3.75rem;
	font-weight: 700;
    line-height: 63px;
	text-align: center;
	padding-top: auto;
	padding-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

div.content h2 {
	font-size: 1.75rem;
	color: #1f1f1f;
	font-weight: bold;
	text-align: center;
}

p {
	font-size: 1.5rem;
	line-height: 2.75rem;
	color: #444;
	margin: 0 0 1em;
	padding-inline: 1.2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	/* text-align: justify; */
	font-style: normal;
}

#mainPhoto {
	width: 50%; 
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border-left: 1px solid #e4e4e4;
	border-top: 1px solid white;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	box-shadow: 5px 5px 10px;
}

/* figure {
	border: 1px solid black;
} */

figure figcaption {
	font-size: 25px;
	font-family: 'Times New Roman', serif;
	text-align: center;
	color: grey;
}

#bChurchFamily {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#pastor {
	float: left;
	width: 40%;
	height: auto;
}

#bDinner {
	clear: both;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#babyPhoto {
	clear: both;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#love {
	float: right;
	width: 40%;
	height: auto;
}

#fit {
	float: left;
	width: 40%;
	height: auto;
}

#bSpeech2 {
	clear: both;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#speech {
	float: right;
	width: 40%;
	height: auto;
}

#bWife {
	clear: both;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#bWife2 {
	clear: both;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#young {
	clear: both;
	width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.content, .content h2, p {
	margin-left: auto;
	margin-right: auto;
}