@charset "utf-8";
html {
	/* position: relative;
	scroll-behavior: smooth;
	width: 100%; */
	
	scroll-behavior: smooth;
	width: 100%;
	overflow-x: hidden;
}
html, body{
    /* width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;  */
	
	width: 100%;
    margin: 0px;
    padding: 0px;
	min-height: 100%;
}
body {
	/* min-height: 100vh;
	display: flex;
	flex-direction: column; */
	
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

/* ------------------------------ Start of Banner ------------------------------ */
/* ---------- Start of Main Container ---------- */
.banner {
	/* box-shadow: inset 	0 4px 5px -5px #000000;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	justify-items: center; */

	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	width: 100%;
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
}
/* ---------- End of Main Container ---------- */
/* ---------- Start of Images ---------- */
img#logo {
	/* display: block;
	margin: auto;
	min-width: 250px; */
	
	display: block;
	margin: auto;
	width: 166%;
	height: auto;
	max-width: 461px;
}
/* ---------- End of Images ---------- */
/* ---------- Start of Columns ---------- */
.banner > .block {
	vertical-align: top;
}

#col-1-4 {
	grid-column: 1 / 2;
	margin-left: 1rem;
}

#col-1-2 {
	grid-column: 2 / 5;
}

#col-1-4-2 {
	grid-column: 5 / 6;
}
/* ---------- End of Columns ---------- */
/* ---------- Start of Title ---------- */
#center {
	margin-left: 0;
	margin-right: 0;
	color: #272c51;
	font-family: serif;
	text-align: center;
	
	/* Suggestion: #0f4e86 (brighter color */)
}

#center h1 {
	font-size: 50px;
	margin: 1rem;
}

#center h2 {
	font-size: 23px;
	margin-top: .5rem;
}

#center h3 {
	margin:.1rem;
}
#right {
	text-align: center;
	width: 100%;
	height: 175px;
}

#right section {
	display: flex;
	height: 175px;
	justify-content: center;
	align-items: center;
}

#donate {
	/* width: 65%;
	background-color: red;
	list-style-type: none;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	line-height: 55px;
	font-size: 30px;
	color: white;
	border-radius: 6px;
	border-style: none;
	padding: 10px;
	padding-left:20px;
	padding-right:30px; */
	
	background-color: red;
	list-style-type: none;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 2rem;
	color: white;
	border-radius: 3px;
	border-style: none;
	padding: 1rem 1.845rem;
	font-weight: 600;
	transform: translate(-.5rem, 0px);
	transition:all .05s linear;
}
/* -----DONATE hover effects */
#donate:hover {
	background-color: rgb(255,55,64);
	padding: 1.05rem 1.9rem;
}
#donate:active {
	filter: brightness(88%);
	padding: .85rem 1.7rem;
}
/* ---------- End of Title ---------- */
/* ------------------------------ End of Banner ------------------------------ */
/* ------------------------------ Start of Nav ------------------------------ */
#navBar {
	/* width: 100%;
	position: sticky;
	top: 0;
	z-index: 300; */
	
	/* Highly suggest keeping this change */
	/* Removes the small whitespace that is above the sticky when scrolling */
	width: 100%;
	position: sticky;
	top: -0.01px;
	z-index: 4;

}

#navBar ul#mainNav { 
	/* background-color: #272c51;
	list-style-type: none;
	width: 100.001%;
	margin: 0;
	padding: 0;
	font-size: 0; */
	
	background-color: #272c51;
	box-shadow: 0 3px 6px rgb(45 62 80 / 90%);
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 0;
	display: flex;

}
nav#navBar ul#mainNav li {

	flex: 1;
	margin: 0;
	padding: 0;
	
}
#mainNav li a, footer ul li a {
	/* font-family: sans-serif;
	width: 100%;
	color: white;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	padding: 15px;
	background: #272c51;
	font-size: 18px; */
	
	font-family: sans-serif;
	width: 100%;
	color: rgb(234,234,234);
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	padding-top: 1em;
	padding-bottom: .75rem;
	background-color: #272c51;
	font-size: 15px;
	transition:all .1s;
}
ul#mainNav li:hover > a,  footer > ul#footerNav > li:hover a { /*hover and other effects for the main nav bar links*/
	color: rgb(255, 232, 232);
}
ul#mainNav > li:active a, 
ul#mainNav > li:focus a, 
footer ul#footerNav > li:active a, 
footer ul#footerNav > li:focus a,
#mediaDropdown > li:active a,
#mediaDropdown > li:focus a{
	color: rgb(150,150,175);
} 
.mobileButtons, #mediaDropdown {
	display: none;
}


/******************************Social dropdown*/
.socialLogos {
	display: grid;
	grid-template-columns: 91.5vw 1fr;
	grid-template-rows: auto;
	position: absolute;
    justify-content: end;
	list-style-type: none;
	width: 100%;
	padding: 0;
	margin: 0;
}
@media only screen and (max-width: 1600px) {
	.socialLogos li{
		height: 10rem;
		width: 10rem;
	}
}

.socialLogos li {
	background: #272c51;
	display: none;
}
.socialLogos li img{
	
}
.socialLogos li:last-of-type {
	border-radius: 0 0 0px 10px;
}
.tiktok {
	grid-column: -1 / -1;
	grid-row: 4 / 5;
}
.facebook {
	grid-column: -1 / -1;
	grid-row: 1 / 2;
}
.twitter {
	grid-column: -1 / -1;
	grid-row: 3 / 4;
}
.instagram {
	grid-column: -1 / -1;
	grid-row: 2 / 3;
}

nav#navBar ul.show li, ul#mediaDropdown.show{
	display: block;
}

/* --- NOTE: Change "active" class to active webpage --- */
.active {
	background: #9ca3c7;
	color: black;
}


}
/* ------------------------------ End of Nav ------------------------------ */
/* ------------------------------ Start of Article ------------------------------ */

/* ------------------------------ End of Article ------------------------------ */
/* ------------------------------ Footer ------------------------------------ */
footer {
	width: 100vw;
	margin-top: auto;
	/*height: 3.5rem;*/
	margin-bottom: 0px;
}

footer > ul#footerNav {
	/* display: grid;
	margin-bottom: 0px;
	justify-content: center;
	background-color: #272c51;
	height: 6rem;
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	justify-items: center;
	padding-left: 0px;
	align-items: center; */
	
	justify-content: center;
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	box-shadow: 0 -1px 5px rgb(45 62 80 / 90%);
	background-color: #272c51;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	scroll-snap-type: y mandatory;
}

footer > ul > li{
	/* display: flex;

	background-color: #272c51;
	height: 100%;
	align-items: center; */
	text-decoration: none;
	list-style-type: none;
	
	width: 100%;
	background-color: #272c51;
}

footer ul li a {
	 padding-top: 22px;
	/*font-size: 1.5rem;*/
	font-size: 1.1rem;
}


footer::before {
	content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: repeating-linear-gradient(135deg,#3498db, #3498db 7px, #f4f8fa 7px, 
				#f4f8fa 14px,#ff5e37 14px,#ff5e37 21px,#f4f8fa 21px,#f4f8fa 28px);
}
#subFooter {
	background-color: #272c51;
	display: grid;
	justify-items: center;
	padding-right:1rem;
}
#subFooter p {
	margin: 0px;
	padding-top: 0rem;
	padding-bottom: 1rem;
	color: rgb(220,220,220);
	width: fit-content;
	min-width: 50px;
	text-align: center;
	font-size: 1rem;
	line-height: 1.1rem;
}

/* footer > ul > li:hover {
	filter: brightness(125%);
}
footer > ul > li:active, 
footer > li:focus {
	filter: brightness(70%);
} */
@media only screen and (max-width: 1000px) {
	nav ul#mainNav li {
		display: none;
	}
	#navBar ul .mobileButtons {
		display: block;
	}
	#mediaDropdown {
		top: 100%;
		left: 0%;
		position: absolute;
		margin: 0;
		display: none;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		width: 100%;
		padding: 0;
		z-index: 3;

	}
	ul#mediaDropdown li{
		background-color: #272c51;
		box-shadow: 0 3px 6px rgb(45 62 80 / 90%);
		text-align: center;
	    padding-top: 1em;
		padding-bottom: 1em;
		list-style-type: none;
		text-decoration: none;
		width: 20%;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		padding-left: 2rem;
		padding-right: 2rem;
		z-index:1;
		display: flex;
		align-items: center;
		justify-content: center;

	}
	ul#mediaDropdown li:last-of-type {
		border-radius: 0px 0px 10px 0px;
	}
	ul#mediaDropdown li a {
		font-size: 3rem;
		list-style-type: none;
		text-decoration: none;
		color: rgb(234,234,234);
		font-weight: bold;
	}
	nav#navBar ul#mainNav li a { /*main nav buttons. This makes them bigger in mobile*/
		font-size: 1.65rem;
		list-style-type: none;
		text-decoration: none;
	}
	footer#footerNav ul li a {
		font-size: 1.65rem;
	}
	footer ul li a {
		font-size: 1.6rem;
	}
	#logo {
		transform: translate(-1.5rem, 0px);
	}	
	#donate {
		transform: translate(-1.5rem, 0px);
	}
	
}