.slideshow-container {
	width: 75%;
	position: relative;
	margin: auto;
	background: #272c51;
	border-radius: 15px 15px 0 0;
	padding-top: 2em;
}

.images {
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
#dot {
	text-align: center;
	background: #272c51;
	border-radius: 0 0 15px 15px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.theSlides {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}


.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin-bottom: .5em;
	margin-top: .5em;
}

.active, .dot:hover {
	background-color: #717171;
}

.faded {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes faded {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes faded {
	from {opacity: .4}
	to {opacity: 1}
}
@media only screen and (max-width: 1200px){
	.slideshow-container, .dot {
		display: none;
	}

}